/Customers2/nbproject/private/
/Customers2/build/
/Customers2/dist/
/Customers2JSP/nbproject/private/
/Customers2JSP/build/
/Customers2JSP/dist/
/CustomersJSF/nbproject/private/
/CustomersJSF/build/
/CustomerJSF/nbproject/private/
/CustomerJSF/build/
/CustomerJSF/dist/
/Customers/nbproject/private/