/Customers2/nbproject/private/
/Customers2/build/
/Customers2/dist/
/Customers2JSP/nbproject/private/
/Customers2JSP/build/
/Customers2JSP/dist/
/CustomersJSF/nbproject/private/
/CustomersJSF/build/
/CustomerJSF/nbproject/private/
/CustomerJSF/build/
/CustomerJSF/dist/
/Customers/nbproject/private/
/CustomersJSP/nbproject/private/
/CustomersServl/nbproject/private/
/CustomersJSP/build/
/CustomersJSP/dist/
/CustomersJSF2/nbproject/private/
/CustomersJSF2/build/
/CustomersJSF2/dist/
/CustomersJSF2Bak/nbproject/private/
/CustomersJSF2Bak/build/
/CustomersJSF2Bak/dist/
/CustomersJPA/build/
/CustomersJPA/dist/
/CustomersCDI/nbproject/private/
/CustomersCDI/build/
/CustomersCDI/dist/
/JMSLogger/nbproject/private/
/JMSLogger/build/
/JMSLogger/dist/
/CustomersWSClient/nbproject/private/